button {
  background-color: black;
  color: white;
  border: none;
  font-family: "Harry Potter", serif;
  font-size: 30px;
  cursor: pointer;
}

button:hover {
  color: red;
  transition: 1.5s;
}

@font-face {
  font-family: "Harry Potter";
  src: url(../../assets/font.TTF);
}